* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ul li {
  list-style: none;
}

section {
  width: 1000px;
  margin: 50px auto;
  overflow: hidden;
  font-size: 14px;
}

aside {
  width: 270px;
  float: left;
  background-color: #F3F3F3;
  padding: 35px 30px;
  box-sizing: border-box;
}

aside ul li {
  margin-left: 32px;
}

aside ul li:nth-child(1) {
  margin-left: 16px;
  font-size: 20px;
  color: black;
}

aside ul li:nth-child(3) {
  margin-left: 16px;
  font-size: 15px;
}

aside ul li:nth-child(3) a {
  color: rgba(0, 0, 0, 0.911);
}

aside ul li:nth-child(8) {
  margin-left: 16px;
}

aside ul li:nth-child(2) {
  margin-left: 0px;
}

article {
  width: 700px;
  background-color: #F3F3F3;
  float: left;
  margin-left: 30px;
  box-sizing: border-box;
  padding: 35px 30px;
}

article ul:nth-child(1) li {
  margin-left: 0px;
}

article ul:nth-child(1) li:nth-child(1) {
  font-size: 20px;
  color: black;
  margin: 0px;
}

article ul:nth-child(1) li:nth-child(3) {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.911);
  margin: 20px 0px;
}

article ul:nth-child(1) li:last-child {
  margin: 20px 0px;
}

article ul li {
  margin-left: 20px;
}

article ul li:nth-child(1) {
  font-size: 20px;
  color: black;
  margin: 20px 0px;
}
